// basic information about the workflow
manifest {
  name = 'gnn-suite-nf'
  description = 'Workflow to test various GNN architectures on cancer data.'
  version = '0.0.1'
  homePage = 'https://github.com/stracquadaniolab/gnn-suite.git'
  author = 'Giovanni Stracquadanio'
  nextflowVersion = '>=20.07.1'
}

// TODO: do replicates = 10 as a final experiment
// your workflow parameters

params {
  // data parameters
  geneFile = null
  networkFile = null
  resultsDir = null  // Default to ${launchDir}/results
  dataSet = null     // Auto derived from geneFile if not provided (genefile_tasktype)

  // experimental parameters
  models = ["gcn2", "gcn", "gat"]
  epochs = [100]
  learning_rate = 0.01
  weight_decay = 1e-4
  train_size = 0.8
  replicates = 1
  verbose_interval = 10
  dropout = 0.2
  alpha = 0.1
  theta = 0
  num_heads = 1
  task_type = 'binary'  // 'binary', 'multiclass', 'regression'

  // quantile threshold for computing metrics
  eval_threshold = 0.8

  // generate plots for each metric
  metrics = ['loss', 'rec']
  enable_plots = false  // Set to false to disable PDF plot generation

  // MLflow parameters
  with_mlflow = false  // Set to true to enable MLflow tracking
  mlflow_tracking_uri = "file:./mlruns"
  mlflow_experiment_name = "gnn-suite-default"
  mlflow_register_model = false  // Set to true to enable model registry
}

// include basic process configuration options
includeConfig 'conf/base.config' 

report {
    overwrite = true
}

timeline {
    overwrite = true
}

// specify the container to be used

// process.container = "gnn-bench-nf"
process.container = "ghcr.io/stracquadaniolab/gnn-suite:latest"


// try trace overwrite
trace.overwrite = true
