// Test config for regression
params {
    resultsDir = "${baseDir}/results/"
    networkFile = "${baseDir}/testdata/gnomad_network.tsv"
    geneFile = "${baseDir}/testdata/gnomad_genes.csv"
    epochs = [100]
    models = ["gcn", "gat", "hgcn", "sage", "gin"]
    replicates = 1
    verbose_interval = 10
    dropout = 0.2
    alpha = 0.1
    theta = 0.5
    task_type = "regression"
    dataSet = "test_regression"
    with_mlflow = true
    mlflow_tracking_uri = "http://localhost:5002"
    mlflow_experiment_name = "Regression-Encode-Dem0"
}
